
        header {
            background-color: darkred;
            margin-bottom: 10px;
            color: white;
            padding: 5px;

        }

body {background-color: whitesmoke;
        color: black;
        font-family: fantasy;

        }


        footer {
            background-color: darkred;
            padding: 10px;
            margin: 20px;
            color: white
        }


        form {
                background-color: lightgrey;
                padding: 15px;
                border: 2px solid black;

            }





a {
  color: skyblue
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


table {
    border-bottom: 1px solid black;
}






tbody {
    font-family: sans-serif;
}
/*tr{
    border: 1px solid black;}*/

tr:hover {
  background-color:lightgrey}

#userinfo {color: blueviolet;
    font-size: bold;
    font-family:monospace;
border: black solid 3px;
padding: 5px;
}

.button {
    border: 5px solid lightgreen;
    width:50%;
    text-align: center;
    font-weight: bold;
}

        .button:hover{
            background-color:darkgrey;
            color: white;
        }


            label {
          display: inline-block;
          width: 110px;
          color: black;
        }

      form {
        text-align: center;
      }
