<!doctype html>
<html>
  <head>
    <title>Welcome!</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <link rel="stylesheet" href="css/styles.css">
      <link rel="icon"
        type="image/png"
        href="Images/ocfr_favicon.png">
      <div id=login_check method="get" v-html='redirect'></div>
  </head>
    <div id=get_login_status method="get"> {{login_status}} </div>
  <body>
    <div class = "container">
      <header class = "row">
        <div class = "col-xs-12 col-sm-6 col-med-4 col-lg-3">
             <img src="Images/OCFR%20Logo.PNG" class = "img-responsive" width = 200 alt = "Logo">
        </div>
        <div class = "col-xs-12 col-sm-6 col-med-8 col-lg-9">

        </div>
      </header>
        <nav class = "row navbar navbar-default">
          <div class = "navbar-header">
            <button class = "navbar-toggle" data-toggle="collapse" data-target = "#myMenu">Menu </button>
          </div>
          <div class = "collapse navbar-collapse" id="myMenu">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="certifications.html">Certifications</a></li>
              <li><a href="firefighters.html">Firefighters</a></li>
              <li><a href="personel.html">Personel Certifications</a></li>
              <li><a href="reports.html">Reports</a></li>
              <li><a href="login.html">Login</a></li>
            </ul>
          </div>
        </nav>

      <main class = "row">
        <form id=OCFR_tables method="get" v-on:submit.prevent="get_certs" style="text-align: center">
          <table class="table" id=OCFR_tables>
            <thead class="heading">
              <tr>
                <th scope="col">Certification ID</th>
                <th scope="col">Agengy</th>
                <th scope="col">Certification Title</th>
                <th scope="col">Expiration Period</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="cert in certList">
                <th scope="row">{{cert.CertId}}</th>
                <td>{{cert.CertifyAgency}}</td>
                <td>{{cert.CertName}}</td>
                <td>{{cert.ExpPeriod}}</td>
              </tr>
            </tbody>
          </table>
          <button id="OCFR_tables" class="btn primary" style="background-color: #58ad6c" type="submit">Refresh Table</button>
        </form>
      </main>
      <style>
      div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 110px;
        color: black;
      }
      </style>
      <h2>Enter Certification</h2>
      <div style="padding:20px;">
        <form id="Certification_action" method="post" v-on:submit.prevent="handleNewCert" style="text-align: center">
          <label for="CertifyAgency">Certification Agengy:</label>
          <input type="text" id="CertifyAgency" name="CertifyAgency" style="width:20%;" v-model="newCertForm.CertifyAgency" required></input><br>
          <label for="CertName">Certification Name:</label>
          <input type="text" id="CertName" name="CertName"style="width:20%" v-model="newCertForm.CertName" required></input><br>
          <label for="ExpPeriod">Good For</label>
          <input type="number" id="ExpPeriod" name="ExpPeriod"style="width:5%" v-model="newCertForm.ExpPeriod" required></input> Years<br>
          <button class="btn btn-lg btn-primary btn-block" style="background-color:darkred;  width: 25%; margin: auto;" type="submit">Submit New Certification</button>
          <p style="color: #58ad6c; text-align: center; padding-bottom:20px;">{{new_cert}}</p>
        </form>
      </div>
      <h2>Delete A Certification</h2>
      <div style="padding:20px;">
        <form id="delete_entry" method="post" v-on:submit.prevent="deleteCert" style="text-align: center">
          <label for="CertId">Enter Certification ID to delete</label>
          <input type="number" id="CertId" name="CertId" style="width:5%" v-model="deleteForm.CertId" required></input><br>
          <button class="btn btn-lg btn-primary btn-block" style="background-color:darkred;  width: 20%; margin: auto;" type="submit">Delete Certification</button>
          <p style="color: #58ad6c; text-align: center; padding-bottom:20px;">{{deletedCert}}</p>
        </form>
      </div>
      <h2>Update Certification</h2>
      <div style="padding:20px;">
        <form id="update_entry" method="post" v-on:submit.prevent="updateCert" style="text-align: center">
          <label for="CertId">Enter Certification ID to update</label>
          <input type="number" id="CertId" name="CertId" style="width:5%" v-model="updateForm.CertId" required></input><br>
          <label for="CertifyAgency">New Certification Agengy:</label>
          <input type="text" id="CertifyAgency" name="CertifyAgency" style="width:20%;" v-model="updateForm.CertifyAgency" required></input><br>
          <label for="CertName">New Certification Name:</label>
          <input type="text" id="CertName" name="CertName"style="width:20%" v-model="updateForm.CertName" required></input><br>
          <label for="ExpPeriod">Good For</label>
          <input type="number" id="ExpPeriod" name="ExpPeriod"style="width:5%" v-model="updateForm.ExpPeriod" required></input> Years<br>
          <button class="btn btn-lg btn-primary btn-block" style="background-color:darkred;  width: 20%; margin: auto;" type="submit">Update Certification</button>
          <p style="color: #58ad6c; text-align: center; padding-bottom:20px;">{{updatedCert}}</p>
        </form>
      </div>
      <footer class = "row">
          <div class="container">
              <div class="col-sm-6 col-sm-offset-3">
                  <span class="align-bottom">Team 19 | MSIS Kelley School of Business</span>
              </div>
          </div>
      </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/index.app.js"></script>
  </body>
</html>
