<!doctype html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon"
      type="image/png"
      href="Images/ocfr_favicon.png">
      <div id=login_check method="get" v-html='redirect'></div>
  </head>
    <div id=get_login_status method="get"> {{login_status}} </div>
  <body>
    <div class = "container">
      <header class = "row">
          <div class = "col-xs-12 col-sm-6 col-med-4 col-lg-3">
               <img src="Images/OCFR%20Logo.PNG" class = "img-responsive" width = 200 alt = "Logo">
          </div>
          <div class = "col-xs-12 col-sm-6 col-med-8 col-lg-9">
          </div>
      </header>
      <nav class = "row navbar navbar-default">
        <div class = "navbar-header">
          <button class = "navbar-toggle" data-toggle="collapse" data-target = "#myMenu">Menu </button>
        </div>
          <div class = "collapse navbar-collapse" id="myMenu">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="certifications.html">Certifications</a></li>
              <li><a href="firefighters.html">Firefighters</a></li>
              <li><a href="personel.html">Personel Certifications</a></li>
              <li><a href="reports.html">Reports</a></li>
              <li><a href="login.html">Login</a></li>
            </ul>
         </div>
      </nav>
      <main class = "row">
        <div>
          <form id=OCFR_tables1 method="get" v-on:submit.prevent="get_ffs" style="text-align: center">
          <table class="table" id = OCFR_tables1>
            <thead class="heading">
              <tr>
                <th scope="col">Hero ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Address</th>
                <th scope="col">Work Phone</th>
                <th scope="col">Mobile Phone</th>
                <th scope="col">Email</th>
                <th scope="col">DOB</th>
                <th scope="col">Start Date</th>
                <th scope="col">Radio Number</th>
                <th scope="col">Station Number</th>
                <th scope="col">Position</th>
                <th scope="col">Active?</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="ff in ffList">
                <th scope="row">{{ff.PerId}}</th>
                <td>{{ff.FirstName}}</td>
                <td>{{ff.LastName}}</td>
                <td>{{ff.Gender}}</td>
                <td>{{ff.Address}}</td>
                <td>{{ff.WorkPhone}}</td>
                <td>{{ff.MobilePhone}}</td>
                <td>{{ff.Email}}</td>
                <td>{{ff.dob}}</td>
                <td>{{ff.StartDate}}</td>
                <td>{{ff.RadioNumber}}</td>
                <td>{{ff.StationNumber}}</td>
                <td>{{ff.Position}}</td>
                <td>{{ff.IsActive}}</td>
              </tr>
            </tbody>
          </table>
          <button id="OCFR_tables1" class="btn primary" style="background-color: #58ad6c" type="submit">Refresh Table</button>
        </form>
        </div>
      </main>
      <style>
      div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 110px;
        color: black;
      }
      </style>
      <h2>Enter Firefighter</h2>
      <div style="padding:20px;">
        <form id="firefighter_action" method="post" v-on:submit.prevent="handleNewff" style="text-align: center">
          <label for="FirstName">New Person First Name:</label>
          <input type="text" id="FirstName" name="fname" style="width:20%;" v-model="newffForm.FirstName" required></input><br>
          <label for="LastName">New Person Last Name:</label>
          <input type="text" id="LastName" name="LastName"style="width:20%" v-model="newffForm.LastName" required></input><br>
          <label for="Gender">New Person Gender</label>
          <input type="text" id="Gender" name="Gender"style="width:20%" v-model="newffForm.Gender" required></input><br>
          <label for="Address">New Person Address:</label>
          <input type="text" id="Address" name="Address"style="width:20%" v-model="newffForm.Address" required></input><br>
          <label for="WorkPhone">New Person Work Phone:</label>
          <input type="text" id="workPhone" name="WorkPhone"style="width:20%" v-model="newffForm.WorkPhone" required></input><br>
          <label for="MobilePhone">New Person Mobile Phone:</label>
          <input type="text" id="MobilePhone" name="MobilePhone"style="width:20%" v-model="newffForm.MobilePhone" required></input><br>
          <label for="Email">New Person Email:</label>
          <input type="text" id="Email" name="Email"style="width:20%" v-model="newffForm.Email" required></input><br>
          <label for="dob">New Person Dob:</label>
          <input type="date" id="dob" name="dob"style="width:20%" v-model="newffForm.dob" required></input><br>
          <label for="StartDate">New Person Start Date:</label>
          <input type="date" id="StartDate" name="StartDate"style="width:20%" v-model="newffForm.StartDate" required></input><br>
          <label for="RadioNumber">New Person Radio:</label>
          <input type="text" id="RadioNumber" name="RadioNumber"style="width:20%" v-model="newffForm.RadioNumber" required></input><br>
          <label for="StationNumber">New Person Station:</label>
          <input type="text" id="StationNumber" name="StationNumber"style="width:20%" v-model="newffForm.StationNumber" required></input><br>
          <label for="Position">New Person Position:</label>
          <input type="text" id="Position" name="Position"style="width:20%" v-model="newffForm.Position" required></input><br>
          <label for="IsActive">New Person Is Active:</label>
          <input class="form-check-input" type="radio" name="exampleRadios" style="width:3%;" id="IsActive" value="Y" v-model="newffForm.IsActive" checked>
            <label class="form-check-label" for="exampleRadios1" style="padding-right:10em;">
              Yes
            </label>
          <input class="form-check-input" type="radio" name="exampleRadios" style="width:3%" id="IsActive" value="N" v-model="newffForm.IsActive">
            <label class="form-check-label" for="exampleRadios2" style="padding-right:10em;">
              No
            </label>
          <button class="btn btn-lg btn-primary btn-block" style="background-color:darkred;  width: 20%; margin: auto;" type="submit">Submit New Person</button>
          <p style="color: #58ad6c; text-align: center; padding-bottom:20px;">{{new_ff}}</p>
        </form>
      </div>
      <h2>Delete A Person</h2>
      <div style="padding:20px;">
        <form id="delete_entry_ff" method="post" v-on:submit.prevent="deleteff" style="text-align: center">
          <label for="PerId">Enter Person ID to delete</label>
          <select id="PerId" name="PerId" v-model="deleteForm_ff.PerId">
            <option v-for="ff in ffList" v-bind:value="ff.PerId">{{ff.PerId}}</option>
          </select><br>
          <button class="btn btn-lg btn-primary btn-block" style="background-color:darkred;  width: 20%; margin: auto;" type="submit">Delete Person</button>
          <p style="color: #58ad6c; text-align: center; padding-bottom:20px;">{{deletedff}}</p>
        </form>
      </div>
      <h2>Update Person</h2>
      <div style="padding:20px;">
        <form id="update_entry_ff" method="post" v-on:submit.prevent="updateff" style="text-align: center">
          <label for="PerId">Enter Person ID to update</label>
          <select id="PerId" name="PerId" v-model="updateForm_ff.PerId" @change="changeff">
            <option v-for="ff in ffList" v-bind:value="ff.PerId">{{ff.PerId}}</option>
          </select><br>
          <label for="FirstName">Update Person First Name:</label>
          <input type="text" id="FirstName" name="FirstName" style="width:20%;" v-model="updateForm_ff.FirstName" required></input><br>
          <label for="LastName">Update Person Last Name:</label>
          <input type="text" id="LastName" name="LastName"style="width:20%" v-model="updateForm_ff.LastName" required></input><br>
          <label for="Gender">New Person Gender:</label>
          <input type="text" id="Gender" name="Gender"style="width:20%" v-model="updateForm_ff.Gender" required></input><br>
          <label for="Address">Update Person Address:</label>
          <input type="text" id="Address" name="Address"style="width:20%" v-model="updateForm_ff.Address" required></input><br>
          <label for="WorkPhone">Update Person Work Phone:</label>
          <input type="text" id="WorkPhone" name="WorkPhone"style="width:20%" v-model="updateForm_ff.WorkPhone" required></input><br>
          <label for="MobilePhone">Update Person Mobile Phone:</label>
          <input type="text" id="MobilePhone" name="MobilePhone"style="width:20%" v-model="updateForm_ff.MobilePhone" required></input><br>
          <label for="Email">Update Person Email:</label>
          <input type="text" id="Email" name="Email"style="width:20%" v-model="updateForm_ff.Email" required></input><br>
          <label for="dob">Update Person Dob:</label>
          <input type="date" id="dob" name="dob"style="width:20%" v-model="updateForm_ff.dob" required></input><br>
          <label for="StartDate">Update Person Start Date:</label>
          <input type="date" id="StartDate" name="StartDate"style="width:20%" v-model="updateForm_ff.StartDate" required></input><br>
          <label for="RadioNumber">Update Person Radio:</label>
          <input type="text" id="RadioNumber" name="RadioNumber"style="width:20%" v-model="updateForm_ff.RadioNumber" required></input><br>
          <label for="StationNumber">Update Person Station:</label>
          <input type="text" id="StationNumber" name="StationNumber"style="width:20%" v-model="updateForm_ff.StationNumber" required></input><br>
          <label for="Position">Update Person Position:</label>
          <input type="text" id="Position" name="Position"style="width:20%" v-model="updateForm_ff.Position" required></input><br>
          <label for="IsActive">Update Person Is Active:</label>
          <input class="form-check-input" type="radio" name="exampleRadios" style="width:3%;" id="IsActive" value="Y" v-model="updateForm_ff.IsActive" checked>
            <label class="form-check-label" for="exampleRadios1" style="padding-right:10em;">
              Yes
            </label>
          <input class="form-check-input" type="radio" name="exampleRadios" style="width:3%" id="IsActive" value="N" v-model="updateForm_ff.IsActive">
            <label class="form-check-label" for="exampleRadios2" style="padding-right:10em;" >
              No
            </label>
          <button class="btn btn-lg btn-primary btn-block" style="background-color:darkred;  width: 20%; margin: auto;" type="submit">Update Person</button>
          <p style="color: #58ad6c; text-align: center; padding-bottom:20px;">{{updatedff}}</p>
        </form>
      </div>
      <footer class = "row">
        <div class="container">
          <div class="col-sm-6 col-sm-offset-3">
            <span class="align-bottom">Team 19 | MSIS Kelley School of Business</span>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/firefighter.app.js"></script>
  </body>
</html>
