<!doctype html>
<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon"
      type="image/png"
      href="Images/ocfr_favicon.png">

</head>
<div id=get_login_status method="get" style="text-align: center;"> {{login_status}} </div>
<body>


        <div class = "container">
        <header class = "row">
            <div class = "col-xs-12 col-sm-6 col-med-4 col-lg-3">
                 <img src="Images/OCFR%20Logo.PNG" class = "img-responsive" width = 200 alt = "Logo">
            </div>
            <div class = "col-xs-12 col-sm-6 col-med-8 col-lg-9">

            </div>
        </header>

        <nav class = "row navbar navbar-default">
            <div class = "navbar-header">
                <button class = "navbar-toggle" data-toggle="collapse" data-target = "#myMenu">Menu </button></div>

                <div class = "collapse navbar-collapse" id="myMenu">
                <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="certifications.html">Certifications</a></li>
                <li><a href="firefighters.html">Firefighters</a></li>
                <li><a href="personel.html">Personel Certifications</a></li>
                <li><a href="reports.html">Reports</a></li>
                <li><a href="login.html">Login</a></li>

                </ul>
             </div>
        </nav>
        <form id = create_user class="form-signin" v-on:submit.prevent="register" style="background-color: whitesmoke; width: 35%; margin: auto;">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>
          <input type="text" id="Register_Username" class="form-control" placeholder="User Name" required="" autofocus="" v-model="createForm.Register_Username">
          <label for="Register_Password" class="sr-only">Password</label>
          <input type="Password" id="Register_Password" class="form-control" placeholder="Password" required="" v-model="createForm.Register_Password">
          <button class="btn btn-lg btn-primary btn-block" style="background-color:Yellow; color:Black;  width: 35%; margin: auto;" type="submit">Register</button>
          <p style="color: #58ad6c; text-align: center; padding-bottom:20px;">{{create_response}}</p>
        </form>

      <footer class = "row">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <span class="align-bottom">Team 19 | MSIS Kelley School of Business</span>
                </div>
            </div>
        </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/login.app.js"></script>
</body>
</html>
