<!doctype html>
<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon"
      type="image/png"
      href="Images/ocfr_favicon.png">

</head>
<body>


        <div class = "container">
        <header class = "row">
            <div class = "col-xs-12 col-sm-6 col-med-4 col-lg-3">
                 <img src="Images/OCFR%20Logo.PNG" class = "img-responsive" width = 200 alt = "Logo">
            </div>
            <div class = "col-xs-12 col-sm-6 col-med-8 col-lg-9">

            </div>
        </header>

        <nav class = "row navbar navbar-default">
            <div class = "navbar-header">
                <button class = "navbar-toggle" data-toggle="collapse" data-target = "#myMenu">Menu </button></div>

                <div class = "collapse navbar-collapse" id="myMenu">
                <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="certifications.html">Certifications</a></li>
                <li><a href="firefighters.html">Firefighters</a></li>
                <li><a href="reports.html">Reports</a></li>
                <li><a href="personel.html">Personel Certifications</a></li>
                <li><a href="login.html">Login</a></li>

                </ul>
             </div>
        </nav>

        <main class = "row">

            <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12 " >
          <!--    <form id=expCertReport method="get" v-on:submit.prevent="get_reports" style="text-align: center">-->

                <table class="table" id=expCertReport>
                  <thead class="heading">
                    <tr>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Certification ID</th>
                      <th scope="col">Certification Title</th>
                      <th scope="col">Expiration Period</th>
                    </tr>
                  </thead>
                  <tbody id=expCertReportBody>
                    <tr v-for="pers in Person">
                      <th scope="row">{{Person.FirstName}}</th>
                      <td>{{Person.LastName}}</td>
                      <td>{{Certification.CertId}}</td>
                      <td>{{Certification.CertName}}</td>
                      <td>{{Certification.ExpPeriod}}</td>
                    </tr>
                  </tbody>
                </table>
              <!--</form> -->

            </div>

            <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12 " >

            <table class="table" id=memberReport>
              <thead class="heading">
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Station</th>
                  <th scope="col">Radio Number</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody id=expCertReportBody>
                <tr v-for="pers in Person">
                  <th scope="row">{{Person.FirstName}}</th>
                  <td>{{Person.LastName}}</td>
                  <td>{{Certification.RadioNumber}}</td>
                  <td>{{Certification.StationNumber}}</td>
                  <td>{{Certification.Email}}</td>
                </tr>
              </tbody>
            </table>
          </div>


        </main>

      <footer class = "row">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <span class="align-bottom">Team 19 | MSIS Kelley School of Business</span>
                </div>
            </div>
        </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/reports.app.js"></script>
</body>
</html>
