<!doctype html>
<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon"
      type="image/png"
      href="Images/ocfr_favicon.png">
<div id=login_check method="get" v-html='redirect'></div>
</head>
<div id=get_login_status method="get" style="text-align: center;"> {{login_status}} </div>
<body>


        <div class = "container">
        <header class = "row">
            <div class = "col-xs-12 col-sm-6 col-med-4 col-lg-3">
                 <img src="Images/OCFR%20Logo.PNG" class = "img-responsive" width = 200 alt = "Logo">
            </div>
            <div class = "col-xs-12 col-sm-6 col-med-8 col-lg-9">

            </div>
        </header>

        <nav class = "row navbar navbar-default">
            <div class = "navbar-header">
                <button class = "navbar-toggle" data-toggle="collapse" data-target = "#myMenu">Menu </button></div>

                <div class = "collapse navbar-collapse" id="myMenu">
                <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="certifications.html">Certifications</a></li>
                <li><a href="firefighters.html">Firefighters</a></li>
                <li><a href="personel.html">Personel Certifications</a></li>
                <li><a href="reports.html">Reports</a></li>
                <li><a href="login.html">Login</a></li>

                </ul>
             </div>
        </nav>

        <main class = "row">

            <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
            <form id=expCertReport method="get" v-on:submit.prevent="get_a_cert">
              <label for="CertId">Choose a certification:</label>
              <select id="CertId" name="CertId" v-model="Cert_to_Get" @change="get_a_cert">
                <option value="all">All</option>
                <option v-for="cert in certList" v-bind:value="cert.CertId">{{cert.CertName}}</option>
              </select>
              <br><br>
          <!--    <form id=expCertReport method="get" v-on:submit.prevent="get_reports" style="text-align: center">-->
              <h2> Expired Cerfitifications </h2>
                <table class="table">
                  <thead class="heading">
                    <tr>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Certification Date</th>
                      <th scope="col">Certification ID</th>
                      <th scope="col">Certification Title</th>
                      <th scope="col">Expiration Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="pers in Person">
                      <th scope="row">{{pers.FirstName}}</th>
                      <td>{{pers.LastName}}</td>
                      <td>{{pers.CertDate}}</td>
                      <td>{{pers.CertID}}</td>
                      <td>{{pers.CertName}}</td>
                      <td>{{pers.ExpDate}}</td>
                    </tr>
                  </tbody>
                </table>
              <!--</form> -->

            </div>
            </form>
            <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
<h2 style="text-align: center"> Member List </h2>
            <table class="table" id=memberReport>
              <thead class="heading">
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Station</th>
                  <th scope="col">Radio Number</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody id=expCertReportBody>
                <tr v-for="pers in Person">
                  <th scope="row">{{pers.FirstName}}</th>
                  <td>{{pers.LastName}}</td>
                  <td>{{pers.RadioNumber}}</td>
                  <td>{{pers.StationNumber}}</td>
                  <td>{{pers.Email}}</td>
                </tr>
              </tbody>
            </table>
          </div>


        </main>

      <footer class = "row">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <span class="align-bottom">Team 19 | MSIS Kelley School of Business</span>
                </div>
            </div>
        </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/reports.app.js"></script>
</body>
</html>
